{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <h1>
        {{ title }}
    </h1>

    {% if check_category is not empty%}
        <a href="{{ path('admin_post_create') }}">Создать пост</a><br>
    {% endif %}

    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-8">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



    {% if check_category is empty%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p>Создание постов невозможно, сначало создай категорию</p>
            <hr>
            <a href="{{ path('admin_category_create') }}">
                Создать категорию
            </a>
        </div>
        {% else %}
        <h2>Список постов</h2>
        <ul>
         {% for post_item in post %}
             <li>{{ post_item.title }}
                 <a href="{{ path('admin_post_update',{'id':post_item.id}) }}" class="btn-link">
                     Редактировать
                 </a>
             </li>
         {% endfor %}
        </ul>
    {% endif %}


{% endblock %}